<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<div class='align-text-center vertical-separator-from-top-50 font-size-18'>
	Welcome <b>{{employeeCtrl.username}}(employee)</b>
	<button ui-sref='home'>Log Out</button>
</div>
<div>
	<form name='leaveRequestForm'>		
		<div class='vertical-separator-from-top-50'>
			<div class='align-text-center'>
				<div>
					<label for="leave-date">Enter Leave Date</label>
					<input max-date name='leaveDate' id="leave-date" type="date" min='2017-12-10'
							ng-model='employeeCtrl.dateFromClient' required>
				</div>
				<div>
					<label for="leave-reason">Enter Leave Reason</label>
					<input name='leaveReason' id="leave-reason"
							ng-model='employeeCtrl.leaveRequestDetails.leaveReason' required>
				</div>
				<div>
					<button ng-click='employeeCtrl.requestLeave()'
									ng-disabled='leaveRequestForm.leaveData.$error.required ||
															leaveRequestForm.leaveReason.$error.required'>
						Submit Request
					</button>
				</div>
			</div>
		</div>
	</form>		
	<div class='vertical-separator-from-top-70'>
		<table>
			<caption>Leave requests submitted so far</caption>
			<tr>
				<th>Request No.</th>
				<th>Leave Date</th>
				<th>Leave Reason</th>
				<th>Submitted On</th>
				<th>Current Status</th>
				<th>Comment by reviewer</th>
			</tr>			
			<tr ng-repeat='leaveRequest in employeeCtrl.leaveRequests track by $index'>
				<td>{{$index+1}}</td>
				<td>{{leaveRequest.leave_date}}</td>
				<td>{{leaveRequest.leave_reason}}</td>
				<td>{{leaveRequest.submission_date}}</td>
				<td>{{leaveRequest.status}}</td>
				<td>{{leaveRequest.comment}}</td>
			</tr>
		</table>		
	</div>				
</div>
